<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
  <h1>Paginas Visitadas</h1>
  <table>
    <thead>
      <tr>
        <th>URL</th>
        <th>Data/Hora</th>
      </tr>
    </thead>
    <tbody>
      <% @visitor.views.each do |v| %>
        <tr>
          <td><%= v.url %></td>
          <td><%= v.visited_at %></td>
         </tr> 
      <% end %>    
    </tbody>
  </table>
</p>
<%= link_to 'Back', visitors_path %>
