<p id="notice"><%= notice %></p>

<div>
  <img src="<%= gravatar(@visitor.email)%>" />
  <strong>Email:</strong>
  <%= @visitor.email %>
</div>
<hr>
<h4>Paginas Visitadas</h4>
<% @visitor.views_by_day.each do |day, views| %>
  <table class="table">
    <caption><%= day.strftime('%d/%m/%Y') %></caption>
    <thead>
      <tr>
        <th>URL</th>
        <th>Data/Hora</th>
      </tr>
    </thead>
    <tbody>
      <% views.each do |v| %>
        <tr>
          <td><%= link_to v.url, v.url, target: '_blank' %></td>
          <td><%= v.visited_at.to_s(:view) %></td>
        </tr> 
      <% end %>    
    </tbody>
  </table>
<% end %>
