<section class="banner">
  <h1 class="heading"><%= @product.name %><br><small>R$ <a href="#"><%= @product.price %></a></small></h1>
</section>
<section class="description">
  <h3>Descrição</h3>
  <p>
    <%= @product.description %>
  </p>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</seciton>